<%- include('partials/header', {script: coffees}) %>

  <main class="container my-16 mx-auto">
    <div class="h-96 bg-[url(/assets/about.jpg)] brightness-125 my-16 bg-no-repeat bg-center bg-cover flex justify-center items-center rounded-lg">
      
      <h2 class="text-primary text-center text-8xl font-extrabold uppercase p-4 backdrop-brightness-50 rounded-lg">Notre catalogue</h2>      
    </div>

    <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 justify-items-center">
      <% for (let coffee of coffees.slice(0, 3)) { %>
        <article class="w-sm lg:w-sm flex flex-col items-center rounded-lg shadow shadow-darker">
          <h3 class="text-center h-16 text-2xl font-bold uppercase p-4"><%= coffee.name %></h3>
          <div class="details w-3/4 flex justify-between items-baseline m-4">
            <p class="text-xl">Origine: <strong class="font-bold capitalize"><%= coffee.origin %></strong> </p>
            <p class="btn "><%= coffee.flavor_profile %></p>
          </div>
          <img class="w-3/4 h-[350px] rounded-lg" src="/assets/coffees/<%= coffee.img_reference %>.png" alt="<%= coffee.name %>">
          <a href="/article/<%= coffee.id %>" class="btn m-4">Découvrir</a>
        </article>
      <% } %>
      
    </div>  

    <button id="all-product" class="btn mx-12 my-16">Voir tous nos produits</button>

    <div id="others-products" class="mt-8 grid-cols-1 xl:grid-cols-3 gap-8 justify-items-center hidden">
      <% for (let coffee of coffees.slice(3)) { %>
        <article class="w-sm lg:w-sm flex flex-col items-center rounded-lg shadow shadow-darker">
          <h3 class="text-center h-16 text-2xl font-bold uppercase p-4"><%= coffee.name %></h3>
          <div class="details w-3/4 flex justify-between items-baseline m-4">
            <p class="text-xl">Origine: <strong class="font-bold capitalize"><%= coffee.origin %></strong> </p>
            <p class="btn "><%= coffee.flavor_profile %></p>
          </div>
          <img class="w-3/4 h-[350px] rounded-lg" src="/assets/coffees/<%= coffee.img_reference %>.png" alt="<%= coffee.name %>">
          <a href="/article/<%= coffee.id %>" class="btn m-4">Découvrir</a>
        </article>
      <% } %>
      
    </div>  
     
    
  </main>
  <%- include('partials/footer') %>